{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}修改设备{% endblock %}
{% block css %}

  <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'dist/css/AdminLTE.min.css' %}">
  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
  <link rel="stylesheet" href="{% static 'dist/css/skins/_all-skins.min.css' %}">

{% endblock %}

{% block content %}

    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        修改设备

      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 主页</a></li>
        <li>设备总表</li>
        <li class="active">修改设备</li>
      </ol>
    </section>


    <div class="container">
        <div class="col-md-offset-4 col-md-4">
            <form class="form-register"  method="post">
                {% if message %}
                    <div class="alert alert-warning">{{ message }}</div>
                {% endif %}
                {% csrf_token %}


                <h2 class="text-center">修改设备</h2>

                <div class="form-group">
                    {{ Edit_FormInput.asset_type.label_tag }}
                    {{ Edit_FormInput.asset_type }}
                </div>
                <div class="form-group">
                    {{ Edit_FormInput.name.label_tag }}
                    {{ Edit_FormInput.name }}
                </div>
                <div class="form-group">
                    {{ Edit_FormInput.sn.label_tag }}
                    {{ Edit_FormInput.sn }}
                </div>
                <div class="form-group">
                    {{ Edit_FormInput.manufacturer.label_tag }}
                    {{ Edit_FormInput.manufacturer }}
                </div>
                <div class="form-group">
                    {{ Edit_FormInput.status.label_tag }}
                    {{ Edit_FormInput.status }}
                </div>
                <div class="form-group">
                    {{ Edit_FormInput.idc.label_tag }}
                    {{ Edit_FormInput.idc }}
                </div>
                <div class="form-group">
                    {{ Edit_FormInput.purchase_day.label_tag }}
                    {{ Edit_FormInput.purchase_day }}
                </div>



                <button type="reset" class="btn btn-default pull-left">重置</button>
                <button type="submit" class="btn btn-primary pull-right">提交</button>
            </form>
        </div>
    </div>

{% endblock %}